* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    gap: 30px;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: flex-start;
    float: center;
}

/* LEFT COLUMN */
.left {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    position: relative;
  
}

/* RIGHT COLUMN */
.right {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    position: relative;
}

/* END COLUMN */
.end {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    position: relative;

}

/* HEADING */
.container h1 {
    font-size: 30px;
    font-family: unset;
    text-align: left; 
}
.right img{
    float: center;
}